body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  /*background-color: #ECF0F1;*/
}

h1 {
  font-size: 61px;
  color: #34495E;
  /*font-family: "Ampersand";*/
}

@font-face {
    font-family: 'Ampersand';
    src: local('Baskerville'), local('Palatino'), local('Book Antiqua');
    unicode-range: U+26;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  background: #2f4154;
  padding: 1em 1em;
  border-radius: 1em;
  list-style: none;
}

nav ul a {
  color: white;
  text-decoration: none;
}

nav ul > li {
  margin: 0em 1em;
}

nav ul li:nth-child(2) a:hover{
  display: flex;
  background: red
}

nav ul li ul {
  /*display: none;*/
  margin-top: 1em;
  list-style: disc;
  flex-direction: column;
  padding: 0;
}


ol {
  list-style: none;
  background: #2C3E50;
  width: 100%;
  padding: 0.2em;
  margin-right: 0.4em;
  max-width: 20em;
  border-radius: 1em;
  overflow-y: scroll;
}

ol li {
  background: #16A085;
  max-width: 16em;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0em;
  padding: 0.4em 1em;
  width: max-content;
  border-radius: 1em;
}

ol li p {
  flex: 0 0 100%;
  margin: 0.2em 0 0 0;
  color: white;
}

ol li footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 1em;
  font-size: 0.8em;
}

ol li footer p {
  color: #34495E;
  margin: 0;
  text-align: right;
  font-size: 0.7em;
  display: block;
}

ol li footer p[data-status="READ"] {
  color: green;
}

ol li footer p[data-status="DELIVERED"] {
  color: blue;
}

form {
  padding-left: 0.2em;
}


form textarea, input {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: none;
}

form input[id="field-stay-logged-in"], label[for="field-stay-logged-in"] {
  display: inline-block;
}

form button[type="submit"]{
  margin-top: 1em;
  color: #ffffff;
  background-color: #1abc9c;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border: none;
  border-radius: 6px;
}

form a {
  display: block;
}

#close{
  width: 1em;
  height: 1em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: white;
  padding: 0.5em;
  border-radius: 50%;
}

form label, textarea, button, input {
  display: block;
}



.login {
  border-radius: 1em;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 1.5em 1.5em 1.25em;
  transform: translate(-50%, -50%); /* Translate to middle */
  background: #edeff1;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.8); /* De-emphasize trick */
}

#login:target ~ .login {
  display: block;
}
