@font-face {
    font-family: Ampersand;
    src: local('Delicious'),
         local('Goudy Old Style'),
         local('Palatino'),
         local('Book Antiqua');
    unicode-range: U+0026;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

img {
  max-width: 100%;
}

main {
  -webkit-transition: .6s filter;
  transition: .6s filter;
}

h1,h2,h3,h4,h5{
  color: #34495E;
}

h1 {
  font-size: 3.813em;
  font-family: "Ampersand", "Lato", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 3.313em;
}

h3 {
  font-size: 2.500em;
}

h4 {
  font-size: 1.813em;
}

h5 {
  font-size: 1.750em;
}

article#paper{
  display: none;
  position: fixed;
  background: #edeff1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 3em;
  max-height:90vh;
  overflow-y: scroll;
}

#paper h1{
  font-size: 1.813em;
}

#paper img{
  max-height: 100vh;
  display: block;
  margin: 0 auto;
}

#paper:target{
  display:block;
  z-index: 3;
}

#paper:target ~ main{
  -webkit-filter: blur(3px) contrast(.8) brightness(.8);
          filter: blur(3px) contrast(.8) brightness(.8);
}


#colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#colors div {
  padding: 1em 2em;
  margin: 0 0 1em 0;
}

#colors div:nth-child(1) {
  background: #edeff1;
}

#colors div:nth-child(2) {
  background: #bdc3c7;
}

#colors div:nth-child(3) {
  background: #34495e;
}

#colors div:nth-child(4) {
  background: #2f4154;
}

#colors div:nth-child(5) {
  background: #2ecc71;
}

#colors div:nth-child(6) {
  background: #1abc9c;
}

#colors div:nth-child(7) {
  background: #16a085;
}

#colors div:nth-child(8) {
  background: #E67E22;
}

#colors div:nth-child(9) {
  background: #D35400;
}

nav path {
  fill: white;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #2f4154;
  padding: 1em 1em;
  border-radius: 0.2em;
  list-style: none;
  position: relative
}

nav ul a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

nav a:hover {
  color: #2ecc71;
}

nav ul li:nth-child(2) {
  position: relative;
}

nav ul > li {
  margin: 0em 1em;
}

nav ul li svg {
  width: 1em;
  height: 1em;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  right: -1.3em;
  top: 0.2em;
}


nav input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  opacity: 0;
  z-index: 1;
}


nav input:before {
  content: '';
  position: absolute;
  top: -10px; right: -20px;
  bottom: -10px; left: -10px;
}

nav input:checked ~ ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav input:hover + a {
  color: #2ecc71;
}

nav input:checked + a svg{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav ul li ul {
  display: none;
  margin-top: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  position: absolute;
  top: 0;
  padding: 1em;
}


#chat {
  height: 15em;
  list-style: none;
  background: #2C3E50;
  width: 100%;
  padding: 0.2em;
  margin-right: 0.4em;
  max-width: 20em;
  border-radius: 1em;
  overflow-y: scroll;
}

#chat li {
  background: #16A085;
  max-width: 16em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 0em;
  padding: 0.4em 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1em;
}

#chat li[data-status="SELF"]{
  background: #bdc3c7;
}

#chat li[data-status="OTHER"]{
  text-align: right;
}

#chat li p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0.2em 0 0 0;
  color: white;
}

#chat li footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 1em;
  font-size: 0.8em;
}

#chat li footer p {
  color: #34495E;
  margin: 0;
  text-align: right;
  font-size: 1em;
  display: block;
}

#chat li footer p[data-status="READ"] {
  color: #16a085;
}

#chat li footer p[data-status="DELIVERED"] {
  color: blue;
}

form textarea, input {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: none;
}

input[id="field-stay-logged-in"], label[for="field-stay-logged-in"] {
  display: inline-block;
}

form button[type="submit"]{
  margin-top: 1em;
  color: #ffffff;
  background-color: #1abc9c;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border: 1px solid white;
  border-radius: 6px;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}

form button[type="submit"]:hover, form button[type="submit"]:focus{
  background: white;
  color: #1abc9c;
  border: 1px solid #1abc9c;
  outline: none;
}

form a {
  display: block;
}

#close{
  width: 1em;
  height: 1em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: white;
  padding: 0.5em;
  border-radius: 50%;
}

form label, textarea, button, input {
  display: block;
}

form textarea:hover, form textarea:focus{
  background: #E0EAE5;
}

fieldset {
  max-width: max-content;
}

fieldset svg {
  width: 1em;
}

.login {
  border-radius: 1em;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 1.5em 1.5em 1.25em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Translate to middle */
  background: #edeff1;
  box-shadow: 0 0 0 150vw rgba(0,0,0,.8); /* De-emphasize trick */
  min-width: 30vw;
  flex-direction: column;
}

.login:valid {
  background: rgba(220,255,220,1);
}

.login input{
  background: rgba(0,255,0,0.1);
}

.login input:invalid {
  background: rgba(255,0,0,0.1);
}

.login input[type="checkbox"]{
  display: none;
}

.login label {

}
/* Incomming shamefull copy of the book, this is going to be changed later on */
.login input[type="checkbox"] + label::before {
  content: '\a0';
  margin-top: 1em;
  display: inline-block;
  vertical-align: .2em;
  width: 1em;
  height: 1em;
  margin-right: .2em;
  border-radius: .2em;
  background: silver;
  text-indent: .15em;
  line-height: 0.6em;
  font-size: 1em;
}

input[type="checkbox"]:checked + label::before {
  content: '\2713';
}

#login:target ~ .login {
  display: flex;
}

a img input  {}


@keyframes loader {
  to { background-position: -800px 0; }
}
.loader {
  width: 100px; height: 100px;
  background: url(images/loader.png) 0 0;
  animation: loader 1s infinite steps(8);
  /* Hide text */
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.random-cursor {
  cursor: help;
}
#secret:target{
  background: hsl(20, 40%, 90%);
  background-image:
   linear-gradient(90deg, #fb3 11px, transparent 0),
   linear-gradient(90deg, #ab4 23px, transparent 0),
   linear-gradient(90deg, #655 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}

fieldset input{
  display: none;
}

fieldset label {
  margin-right: 1em;
  padding: 0.2em 0.5em;
  border-radius: 1em;
}

fieldset input:checked + label {
  background: #1abc9c;
}

article h1 a {
    font-size: 65%;
}

article p {
  max-width: 25em;
}

progress {
  width: 100%;
  background: #1abc9c;
}

nav ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  position: relative;
  max-width: max-content;
}

nav ol::after {
  width: 100%;
  height: 1px;
  background: grey;
  content: "";
  top: 0;
  position: absolute;
  bottom: 0;
  margin: auto;
  z-index: -1;
  transform: translate(-0,-50%);
}

nav ol li {
  margin-right: 3.5em;
  margin-left: 3.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  color: grey;
  background: white;
  border: rgba(0,0,0,0.2);
  border-radius: 5%;
}

nav ol li a {
  text-decoration: none;
  color: grey
}


ol li[data-status="active"]{
  color: #2ecc71;

}

ol li[data-status="active"] a{
  color: #2ecc71;
}
