@font-face {
    font-family: Ampersand;
    src: local('Delicious'),
         local('Goudy Old Style'),
         local('Palatino'),
         local('Book Antiqua');
    unicode-range: U+0026;
}

body {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  border-radius: 0.2em;
}

main {
  -webkit-transition: .6s filter;
  transition: .6s filter;
}

h1 {
  text-align: center;
}

h1,h2,h3,h4,h5{
  color: #999;
}

h1 {
  font-size: 3.813em;
  font-family: "Ampersand", "Lato", Helvetica, Arial, sans-serif;
}

h2 {
  font-size: 3.313em;
}

h3 {
  font-size: 2.500em;
}

h4 {
  font-size: 1.813em;
}

h5 {
  font-size: 1.750em;
}

progress{
  width: 100%;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, #2f4154 33%,
	                           #2f4154 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                          #1abc9c),
	   -webkit-linear-gradient(left, #2f4154, #2f4154);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* main Navigation */

nav path {
  fill: white;
}

nav ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #2f4154;
  padding: 1em 1em;
  list-style: none;
  position: relative
}

nav ul a {
  color: white;
  text-decoration: none;
  transition: color 0.5s;
}

nav a:hover, nav a:focus {
  color: #2ecc71;
}

nav ul li:nth-child(2) {
  position: relative;
}

nav ul > li {
  margin: 0em 1em;
}

nav ul li svg {
  width: 1em;
  height: 1em;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
  right: -1.3em;
  top: 0.2em;
}


nav input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  opacity: 0;
  z-index: 1;
}


nav input:before {
  content: '';
  position: absolute;
  top: -10px; right: -20px;
  bottom: -10px; left: -10px;
}

nav input:checked ~ ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav input:hover + a {
  color: #2ecc71;
}

nav input:checked + a svg{
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

nav ul li ul {
  display: none;
  margin-top: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  position: absolute;
  top: 0;
  padding: 1em;
}

/* media items! */

section {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section article {
  position: relative;
  margin: 2em;
  text-align: center;
  background: #1abc9c;
  padding: 0.5em 1em;
  border-radius: 1em;
  max-width: 19em;
  color: white;
}

section article a {
  color: white;
  text-decoration: none;
  font-weight: lighter;
}

section article a:focus{
  outline: none;
  box-shadow: 0 0 3px 2px white;
}

section article a::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

section article:nth-child(2) {
  background: #2f4154;
}

section article:nth-child(2):after {
  position: absolute;
  content: "Most popular choice!";
  color: white;
  top: -1em;
  left: 0;
  right: 0;
  background: #1abc9c;
  padding-top: 0.5em;
  padding-bottom: 1em;
  border-radius: 0 0 1em 1em;
}

section article h1 {
  font-size: 170%;
}

/* Article specific*/
article h1 a {
    font-size: 65%;
}

article p {
  max-width: 25em;
}

/* all forms on the page */

form textarea, input {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 6px;
  box-shadow: none;
  width: 90%;
}

input[id="field-stay-logged-in"], label[for="field-stay-logged-in"] {
  display: inline-block;
}

form button[type="submit"]{
  margin-top: 1em;
  color: #ffffff;
  background-color: #1abc9c;
  padding: 10px 19px;
  font-size: 17px;
  line-height: 1.471;
  border: 1px solid white;
  border-radius: 6px;
  transition: color 0.5s, background-color 0.5s, border 0.5s;
}

form button[type="submit"]:hover, form button[type="submit"]:focus{
  background: white;
  color: #1abc9c;
  border: 1px solid #1abc9c;
  outline: none;
}

form a {
  display: block;
}

form label, textarea, button, input {
  display: block;
}

form textarea:hover, form textarea:focus{
  background: #E0EAE5;
}


/* Rating */
fieldset {
  max-width: 17em;
  max-width: 20em;
  padding: 0 0 0.3em 0;
}

fieldset svg {
  width: 1em;
}

fieldset input{
  display: none;
}

fieldset label {
  margin-right: 1em;
  padding: 0 0 0.2em 0;
  text-indent: -1000em;
}

fieldset input:checked + label {
  background: #1abc9c;
}

progress {
  background: #1abc9c;
}

/* handles all a and svg inside a nav */

nav > a {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  max-width: 2em;
  max-height: 2em;
}

nav > a:focus path {
  fill: #1abc9c;
}

nav > a:hover path {
  fill: #1abc9c;
}

nav > a svg {
  max-width: 2em;
  max-height: 2em;
}

/* step indicator */

nav ol {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding: 0;
  width: 100%;
  margin-bottom: -0.2em;
  justify-content: center;
  border-bottom: 1px solid grey;
  list-style: none;
}

nav ol li {
  margin-right: 3.5em;
  margin-left: 3.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 3em;
  color: grey;
  background: white;
  border: rgba(0,0,0,0.2);
  border-radius: 5%;
}

nav ol li a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}


ol li[data-status="active"]{
  color: #2ecc71;
  list-style: square;
}

ol li[data-status="active"] a{
  color: #2ecc71;
  font-weight: normal;
}

ol li[data-status="done"]:before {
  content: '✔';
}

/* handles Loader on page */
.loader {
  width: 100px; height: 100px;
  background: url(images/loader.png) 0 0;
  animation: loader 1s infinite steps(8);
  /* Hide text */
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes loader {
  to { background-position: -800px 0; }
}

/* changes cursor on psuedorandom hover */

.random-cursor {
  cursor: help;
}

/* handles all close buttons on the popups */

.close{
  width: 1em;
  height: 1em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background: white;
  padding: 0.5em;
  border-radius: 50%;
  border: 1px solid #1abc9c;
}

.close svg {
  fill: #1abc9c;
}

/* Info popUp */

#info{
  display: none;
  position: fixed;
  background: #edeff1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1em 3em;
  max-height:90vh;
}

#info h1{
  font-size: 1.813em;
}

#info img{
  max-height: 80%;
  display: block;
  margin: 0 auto;
}

#info:target{
  display:block;
  z-index: 3;
}

#info:target ~ main{
  -webkit-filter: blur(3px) contrast(.8) brightness(.8);
          filter: blur(3px) contrast(.8) brightness(.8);
}

/* On #secret target makes background body psuedo random Uglu */

#secret:target{
  background: hsl(20, 40%, 90%);
  background-image:
   linear-gradient(90deg, #fb3 11px, transparent 0),
   linear-gradient(90deg, #ab4 23px, transparent 0),
   linear-gradient(90deg, #655 41px, transparent 0);
  background-size: 41px 100%, 61px 100%, 83px 100%;
}

/* No longer needed in webshop demo */

/*#colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}*/

/* LOGIN SECTION */

#login {
  border-radius: 1em;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 1.5em 1.5em 1.25em;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); /* Translate to middle */
  background: #edeff1;
  box-shadow: 0 0 0 150vw rgba(0,0,0,.8); /* De-emphasize trick */
  min-width: 15em;
  max-width: 25em;
  width: 80%;
  flex-direction: column;
  z-index: 1;
}

#login:valid {
  background: rgba(220,255,220,1);
}

#login input{
  background: rgba(0,255,0,0.1);
}

#login input:invalid {
  background: rgba(255,0,0,0.1);
}

#login input[type="checkbox"]{
  display: none;
}

#login:target ~ .login {
  display: flex;
}

/* Chat madness this breaks on old browsers */

.chat-toggle {
  background: #1abc9c;
  height: 5em;
  width: 5em;
  position: fixed;
  border-radius: 50%;
  bottom: 0.5em;
  right: 0.5em;
  box-shadow: 0 0 0 2px white;
}

.chat-toggle svg {
  max-width: 3em;
  max-height: 3em;
  padding: 1em;
}

#chat-container {
  box-shadow: 0 0 2em 0.2em black;
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #edeff1;
  border-radius: 0.5em;
  padding-left: 0.5em;
  transform: translateY(110%);
}

#chat-container h1{
  font-size: 120%;
  color: #333;
}

#chat {
  height: 15em;
  list-style: none;
  background: #2C3E50;
  width: 100%;
  padding: 0.2em;
  margin-right: 0.4em;
  max-width: 20em;
  border-radius: 1em;
  overflow-y: scroll;
}

#chat-enable:target + #chat-container {
  transition: transform 0.5s ease-out;
  transform: translateY(0%);
}

#chat li {
  background: #16A085;
  max-width: 16em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1em 0em;
  padding: 0.4em 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 1em;
}

#chat li[data-status="SELF"]{
  background: #bdc3c7;
}

#chat li[data-status="OTHER"]{
  text-align: right;
}

#chat li p {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 0.2em 0 0 0;
  color: white;
}

#chat li footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 1em;
  font-size: 0.8em;
}

#chat li footer p {
  color: #34495E;
  margin: 0;
  text-align: right;
  font-size: 1em;
  display: block;
}

#chat li footer p[data-status="READ"] {
  color: #16a085;
}

#chat li footer p[data-status="DELIVERED"] {
  color: blue;
}
